* {
  margin: 0;
  padding: 0;
}
.detail_title {
  width: 200px;
}
.title_rate {
  display: flex;
}
.movie_detail {
  display: flex;
  width: 550px;
}
.movie_img {
  width: 600px;
  /* height: 400px; */
  /* background-image: red; */
}
.hour {
  background-color: silver;
  border-radius: 5px;
  padding: 0 5px;
  margin: 10px;
}
.rate {
  color: blue;
  /* padding-left: 200px; */
}
.side {
  margin-left: 10px;
}
.movie {
  border: 1px solid black;
  margin-bottom: 50px;
  width: 100px;
  margin-left: 50px;
  margin-top: 40px;
  /* background-color:red ; */
}
.App {
  /* text-align: center; */
  /* width:200px; */
}
.movie img {
  width: 100px;
}
.type {
  width: 50px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: rgb(247, 166, 166);
  margin-bottom: 5px;
  margin-left: 3px;
}
.title {
  padding-left: 1px;
}
.search-input {
  padding: 10px;
  width: 400px;
  border-radius: 5px;
}
.search-type {
  padding: 10px;
  width: 50px;
  margin-left: 30px;
  border-radius: 5px;
  /* border-top-right-radius: 0; */
  /* border-right: none; */
}
.search-drop {
  padding: 10px;
  width: 20px;
  border-radius: 5px;
  /* border-left: none; */
  /* border-top-left-radius: 0; */
}
.movie_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
